name: Build and Deploy Docs

on:
  # Trigger workflow manually with inputs
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to checkout'
        required: true
        default: 'latest'
  # Trigger workflow automatically on new tag creation
  push:
    tags:
      - '*'
  # Trigger workflow on pull request changes
  pull_request:
    branches:
      - 'main'
    paths:
      - 'docs/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Docs
        run: |
          echo "Resolved ref: ${{ github.event.inputs.tag || github.ref_name }}"

      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.tag || github.ref_name }}
          
      - name: Deploy Docs
        run: |
          echo "Deploying docs for tag: ${{ github.event.inputs.tag || github.ref_name }}"
          echo "version=${{ github.event.inputs.tag || github.ref_name }}" >> $GITHUB_ENV
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "production=false" >> $GITHUB_ENV
          else
            echo "production=true" >> $GITHUB_ENV
          fi
    
      - name: Sync docs to S3
        uses: deephaven/salmon-sync@v1
        with:
          source: docs/
          destination: deephaven/barrage/${{ env.version }}/
          production: ${{ env.production }}
          temporary: ${{ env.production == 'true' && 'false' || 'true' }}
          aws-role: ${{ vars.DOCS_AWS_ROLE }}

      - name: Comment on PR
        if: ${{ github.event.workflow_run.event == 'pull_request' }}
        uses: actions/github-script@v7
        env:
            url: ${{ vars.DOCS_PREVIEW_URL }}
        with:
            script: |
                const env = process.env;
                github.rest.issues.createComment({
                issue_number: env.version.replace('pr-', ''),
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: `[Barrage docs preview](${env.url}/barrage/${env.version}/docs) (Available for 14 days)`
                });
