name: Build and Deploy Docs

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to checkout'
        required: true
  push:
    tags:
      - '*'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'docs/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.tag || github.head_ref || github.ref_name }}
          
      - name: Deploy Docs
        run: |
          echo "Deploying docs for tag: ${{ github.event.inputs.tag || github.ref_name }}"
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            pr_number=${{ github.event.pull_request.number }}
            echo "version=pr-${pr_number}" >> $GITHUB_ENV
            echo "production=false" >> $GITHUB_ENV
          else
            echo "version=${{ github.event.inputs.tag || github.ref_name }}" >> $GITHUB_ENV
            echo "production=true" >> $GITHUB_ENV
          fi
    
      - name: Sync docs to S3
        uses: deephaven/salmon-sync@v1
        with:
          source: docs/
          destination: deephaven/barrage/${{ env.version }}/
          production: ${{ env.production }}
          temporary: ${{ env.production != 'true' }}
          aws-role: ${{ vars.DOCS_AWS_ROLE }}

      - name: Comment on PR
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/github-script@v7
        env:
            url: ${{ vars.DOCS_PREVIEW_URL }}
        with:
            script: |
                const env = process.env;
                if (!env.url) {
                  throw new Error("DOCS_PREVIEW_URL is not defined");
                }
                github.rest.issues.createComment({
                  issue_number: parseInt(env.version.replace('pr-', ''), 10),
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  body: `[Barrage docs preview](${env.url}/barrage/${env.version}/docs) (Available for 14 days)`
                });
