name: Package CI

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

jobs:
  barrage:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # The maven git-commit-id-plugin needs the history
          fetch-depth: 0

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17.0.11"

      - name: Package with Maven
        run: mvn --file java/pom.xml --batch-mode package
